<section>
  <div class="page-header">
    <h1>
      Questions
      <a class="btn btn-primary pull-right" data-ui-sref="admin.questions.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>

  <div class="list-group">
    <md-table-container>
      <table md-table>
        <thead md-head md-order="vm.orderBy">
           <tr md-row>
             <th md-column>Enoncé de la question</th>
             <th md-column>Créateur</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="question in vm.questions">
            <td md-cell>{{ question.subject }}</td>
            <td md-cell>{{ question.user.displayName }}</td>
            <td md-cell><a class="dark-icon" data-ui-sref="staff.questions.edit({questionId: question._id})"><i class="material-icons">mode_edit</i></a></td>
            <td md-cell><a class="dark-icon" ng-click="vm.remove(question, $event)"><i class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>

  <div class="alert alert-warning text-center" data-ng-if="questions.$resolved && !questions.length">
    No questions yet, why don't you <a data-ui-sref="admin.questions.create">create one</a>?
  </div>
</section>
