dk-create-select md-icon,
dk-select md-icon {
  cursor:pointer;
}

dk-create-select md-input-container.md-icon-right > .toggle-icon {
  left: 2px;
}


dk-create-ranking ul[dnd-list],
dk-create-ranking ul[dnd-list] > li,
dk-ranking ul[dnd-list],
dk-ranking ul[dnd-list] > li {
  position: relative;
}

dk-create-ranking ul[dnd-list],
dk-ranking ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

dk-create-ranking ul[dnd-list] .dndDraggingSource,
dk-ranking ul[dnd-list] .dndDraggingSource {
  display: none;
}

dk-create-ranking ul[dnd-list] .dndPlaceholder,
dk-ranking ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  padding: 10px 15px;
  min-height: 42px;
}

dk-create-ranking ul[dnd-list] li,
dk-ranking ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  margin:5px;
  height:100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Section-specifc background
 */
dk-create-ranking ul[dnd-list] li.background-x,
dk-ranking ul[dnd-list] li.background-x  {
  background-color: #CAE0FC;
}

dk-create-ranking ul[dnd-list] li.background-y,
dk-ranking ul[dnd-list] li.background-y  {
  background-color: #FFE2F5;
}

dk-create-ranking ul[dnd-list] input.background-x,
dk-ranking ul[dnd-list] input.background-x {
  background-color: #D8E9FF;
  color: #2F4D99;
}

dk-create-ranking ul[dnd-list] input.background-y,
dk-ranking ul[dnd-list] input.background-y {
  background-color: #FFF0FA;
  color: #D84FA7;
}

/**
 * Handle positioning
 */
dk-create-ranking .handle,
dk-ranking .handle {
  cursor: move;
}

dk-create-ranking .media-toggle,
dk-ranking .media-toggle {
  cursor: pointer;
  display:inline-block;
}

dk-create-ranking .inner,
dk-ranking .inner {
  height:100px;
  padding:10px;
}

dk-create-ranking .image,
dk-ranking .image {
  max-height: 80px;
  margin-left:20px;
}

dk-create-ranking md-input-container,
dk-ranking md-input-container {
  margin:0;
  padding:0;
  margin-left:20px;
  margin-top:20px;
}

dk-create-ranking .toolbar {
  text-align:right;
  align-self:flex-end;
}

dk-create-ranking .close {
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}
