<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Thèmes
      </span>
    </div>
    <div class="white-icon">
      <a data-ui-sref="admin.themes.create">
          <i class="material-icons">add_box</i>
        </a>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <md-table-container>
  <table md-table>
    <thead md-head md-order="vm.orderBy">
       <tr md-row>
         <th md-column md-order-by="name">Names</th>
         <th md-column md-order-by="domain.name">Domains</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="theme in vm.themes | orderBy:vm.orderBy">
        <td md-cell>{{ theme.name }}</td>
        <td md-cell>{{ theme.domain.name }}</td>
        <td md-cell><a class="dark-icon" data-ui-sref="admin.themes.edit({themeId: theme._id})"><i class="material-icons">mode_edit</i></a></td>
        <td md-cell><a class="dark-icon" ng-click="vm.remove(theme, $event)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" data-ng-if="themes.$resolved && !themes.length">
  No themes yet, why don't you <a data-ui-sref="admin.themes.create">create one</a>?
</div>
