<div ng-controller="HeaderController as vm">

  <!-- topbar gt-sm -->
  <div class="topbar" hide show-gt-sm>
    <div class="container">
      <div layout="row">
        <a href="/" class="topbar-brand" flex="10">
          <img src="/modules/core/client/img/brand/logo.svg" alt="brand">
        </a>
        <nav flex="70" layout-align="start">
          <ul class="nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
            <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);">
              <md-button ng-if="item.type == 'item'" ui-sref="{{item.state}}">{{ item.title }}</md-button>
              <dropdown  ng-if="item.type == 'dropdown'" mode="hover">
                <md-button>{{ item.title }}</md-button>
                <dropdown-content>
                  <a ng-repeat="subitem in item.items | orderBy: 'position'" ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                </dropdown-content>
              </dropdown>
            </li>
          </ul>
        </nav>
        <nav class="sign-nav" flex="30" layout="row" layout-align="end center" ng-hide="vm.authentication.user">
          <md-button ui-sref="authentication.signup" class="signup-button md-raised md-primary">Inscription</md-button>
          <md-button ui-sref="authentication.signin" class="signin-button md-raised md-primary">Connexion</md-button>
        </nav>
        <nav class="user-nav" flex="30" layout="row" layout-align="end center" ng-show="vm.authentication.user">
          <span class="user-nav-state">Connecté sous </span>
          <dropdown class="right" mode="click">
            <md-button class="user-nav-name" ng-bind="vm.authentication.user.displayName"></md-button>
            <dropdown-content>
              <a ng-repeat="item in vm.accountMenu.items" ui-sref="{{item.state}}" ng-bind="item.title"></a>
              <a href="/api/auth/signout" target="_self">Déconnexion</a>
            </dropdown-content>
          </dropdown>
        </nav>
      </div>
    </div>
  </div>
  <!-- topbar gt-sm -->

  <!-- topbar-mobile xs, sm -->
  <div class="topbar-mobile" hide show-xs show-sm>
    <div class="container">
      <div class="topbar-mobile-inner" layout="row" layout-align="center center">
        <nav flex>
          <md-button ng-click="vm.isCollapsed = !vm.isCollapsed" class="md-icon-button"><i class="material-icons">menu</i></md-button>
        </nav>

        <nav class="user-nav" flex layout="row" layout-align="end" ng-show="vm.authentication.user">
          <dropdown class="right" mode="click">
            <md-button class="user-nav-name" ng-bind="vm.authentication.user.displayName"></md-button>
            <dropdown-content>
              <a ng-repeat="item in vm.accountMenu.items" ui-sref="{{item.state}}" ng-bind="item.title"></a>
              <a href="/api/auth/signout" target="_self">Déconnexion</a>
            </dropdown-content>
          </dropdown>
        </nav>

        <nav flex layout="row" layout-align="end" ng-hide="vm.authentication.user">
          <md-button ui-sref="authentication.signup" class="md-raised md-primary">Inscription</md-button>
          <md-button ui-sref="authentication.signin" class="md-raised">Connexion</md-button>
        </nav>
      </div>
    </div>
  </div>

  <div class="topbar-mobile-menu" ng-class="{active: vm.isCollapsed}" hide show-xs show-sm>
    <ul class="nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);">
        <md-button ng-if="item.type == 'item'" ui-sref="{{item.state}}">{{ item.title }}</md-button>
        <dropdown ng-if="item.type == 'dropdown'" mode="click">
          <md-button>{{ item.title }} <i class="material-icons">arrow_drop_down</i></md-button>
          <dropdown-content>
            <a ng-repeat="subitem in item.items | orderBy: 'position'" ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
          </dropdown-content>
        </dropdown>
      </li>
    </ul>
  </div>
  <!-- topbar-mobile xs, sm -->
</div>
