<!--
  - @Input domains
  - @Input receivers
  - @Input users
  - @Output selected

  - @Function cancel
  - @Function answer
  - @Function import
-->
<md-dialog class="receivers-list-dialog" aria-label="Liste des destinataires">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Liste des destinataires</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="receivers-list">
          <span ng-if="selected.length <= 0">Aucuns destinataires dans la liste</span>
          <span ng-repeat="item in selected">{{ item.displayName }} <md-icon class="material-icons">close</md-icon></span>
        </div>

        <div layout="row">
          <md-input-container md-no-float flex>
            <input type="text" ng-model="searchDisplayName" placeholder="Nom d'utilisateur">
          </md-input-container>

          <md-input-container md-no-float flex>
            <md-select ng-model="searchDomain" placeholder="Tous les domaines">
              <md-option ng-value="domain.name" ng-repeat="domain in domains">
                {{ domain.name }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" md-no-float flex>
            <md-select ng-change="import()" ng-model="importedUsers" placeholder="Liste destinataires">
              <md-option ng-value="receiver.users" ng-repeat="receiver in receivers">
                {{ receiver.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <md-table-container>
          <table md-table ng-model="selected" md-row-select="true" multiple="true" md-progress="promise">
            <thead md-head md-order="myOrder">
              <tr md-row>
                <th md-column md-order-by="user.username"><span>Nom d'utilisateur</span></th>
                <th md-column md-order-by="user.email"><span>Email</span></th>
                <th md-column md-order-by="user.domain.name"><span>Domaine</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="user" ng-repeat="user in users | filter:searchDisplayName | orderBy: myOrder" md-auto-select="true" ng-show="(user.domain.name === searchDomain) || !searchDomain">
                <td md-cell>{{ user.displayName }}</td>
                <td md-cell>{{ user.email }}</td>
                <td md-cell>{{ user.domain.name }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Annuler</md-button>
      <md-button ng-click="answer(selected)">Sauvegarder</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
