<h1>Questionnaire {{ vm.form.title }}</h1>

<div ng-if="vm.exam.form.questions.length !== vm.exam.answers.length">
  <div ng-if="vm.loaded" ng-include src="'/modules/questions/client/views/staff/templates/view-question.client.view.template.html'"></div>

  <div class="exam-toolbar">
    <md-button ng-click="vm.validate()" class="md-fab" aria-label="Validation d'une réponse">
      <md-icon flex class="material-icons">done</md-icon>
    </md-button>
  </div>
</div>

<div class="exam-end" ng-if="vm.exam.form.questions.length === vm.exam.answers.length">
  <div class="exam-end-logo" flex="10">
    <h1>TERMINER</h1>
  </div>
</div>
