<section>
  <md-toolbar class="md-table-toolbar" flex>
    <div class="sub-head-container" layout="row" layout-align="start center">
      <div class="md-toolbar-tools">
        <span>Liste des examens en attente de correction</span>
      </div>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>Questionnaire</th>
          <th md-column hide-sm hide-xs>Candidat</th>
          <th md-column hide-sm hide-xs>Date d'envoi</th>
          <th md-column hide-sm hide-xs>Points</th>
          <th md-column>Statut</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="exam in vm.exams">
          <td md-cell>{{ exam.form.title }}</td>
          <td md-cell hide-sm hide-xs>{{ exam.user.displayName }}</td>
          <td md-cell hide-sm hide-xs>{{ vm.dateConvert(exam.created) }}</td>
          <td md-cell hide-sm hide-xs>{{ exam.points }}</td>
          <td md-cell>
            <span ng-if='exam.state === "unchecked"'>Non corrigé</span>
            <span ng-if='exam.state === "progress"'>En cours de correction</span>
            <span ng-if='exam.state === "checked"'>Corrigé</span>
          </td>
          <td md-cell ng-if="exam.answers.length === exam.form.questions.length">
            <a ui-sref="staff.exams.correct({ examId: exam._id })">
              <i class="material-icons">check_box</i>
            </a>
          </td>
          <td md-cell ng-if="exam.answers.length !== exam.form.questions.length">
            Non complété
          </td>
          <td md-cell>
            <a class="dark-icon" ng-click="vm.remove(exam)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

</section>
