<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>{{vm.receiver._id ? 'Editer une liste existante' : 'Créer une liste'}}</span>
    </div>
  </div>
</md-toolbar>

  <div class="list-group">
    <form name="vm.form.receiverForm" class="form-horizontal" ng-submit="vm.save(vm.form.receiverForm.$valid)" novalidate>
      <fieldset layout="column">
      <md-input-container>
        <div class="form-group" show-errors>
          <label class="control-label" for="receiver">Nom</label>
          <input name="name" type="text" ng-model="vm.receiver.name" id="name" class="form-control" placeholder="Nom" required autofocus>
          <div ng-messages="vm.form.receiverForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nom de la liste requis.</p>
          </div>
        </div>
      </md-input-container>

       <md-input-container>
        <label class="control-label" for="users">Users</label>
        <md-select ng-model="vm.receiver.users" ng-model-options="{trackBy: '$value._id'}" id="users" class="form-control" required multiple>
          <md-option ng-repeat="user in vm.users" ng-value="user">{{ user.displayName }}</md-option>
        </md-select>

        <div ng-messages="vm.form.receiverForm.car.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Au moins un utilisateur dans la liste requis</p>
        </div>
      </md-input-container>

      <md-input-container>
        <div class="form-group">
          <md-button type="submit" class="md-raised md-primary">{{vm.receiver._id ? 'Editer' : 'Créer'}}</md-button>
        </div>
      </md-input-container>
      </fieldset>
    </form>
  </div>
