<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row" layout-align="start center">
    <div class="md-toolbar-tools">
      <span>{{vm.form._id ? 'Edition d\'un questionnaire existante' : 'Nouveau questionnaire'}}</span>
    </div>
  </div>
</md-toolbar>

<div class="form-editor">
  <div class="form-editor-content">
    <md-input-container class="form-content-title md-block">
      <input ng-model="vm.form.title" placeholder="Titre du questionnaire">
    </md-input-container>
    <md-input-container class="md-block" md-no-float>
      <input ng-model="vm.form.description" type="text" placeholder="Descriptif du questionnaire">
    </md-input-container>

    <div class="form-editor-questions">
      <div class="form-editor-question" ng-repeat="question in vm.form.questions" md-whiteframe="5">
        <div class="slide-animate" ng-include src="'/modules/questions/client/views/staff/templates/create-question.client.view.template.html'"></div>
      </div>
      <div class="form-editor-toolbar">
        <md-button ng-click="vm.addQuestion()" class="md-fab" aria-label="Ajout d'une question">
          <md-icon flex class="material-icons">add</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>

<div class="toolbar-bottom">
  <md-button ng-click="vm.showQuestionsDialog($event)">
    <md-icon class="material-icons">chevron_left</md-icon>
    <span hide show-gt-sm>Importer des questions</span>
  </md-button>
  <md-button ng-click="vm.showReceiversDialog($event)">
    <md-icon class="material-icons">group_add</md-icon>
    <span hide show-gt-sm>Destinataires</span>
  </md-button>
  <md-button ng-click="vm.save()">
    <md-icon class="material-icons">save</md-icon>
    <span hide show-gt-sm>Sauvegarder</span>
  </md-button>
  <md-button ng-if="vm.form._id" ng-click="vm.remove()">
    <md-icon class="material-icons">delete</md-icon>
    <span hide show-gt-sm>Supprimer</span>
  </md-button>
</div>
