<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row" layout-align="start center">
    <div class="md-toolbar-tools">
      <span>{{vm.form._id ? 'Edition d\'un questionnaire existante' : 'Nouveau questionnaire'}}</span>
    </div>
  </div>
</md-toolbar>

<div>
  <div class="form-editor" layout="row">
    <div class="form-editor-content" flex="80">
      <md-input-container class="form-content-title md-block">
        <input ng-model="vm.form.title" placeholder="Titre du questionnaire">
      </md-input-container>
      <md-input-container class="md-block" md-no-float>
        <input ng-model="vm.form.description" type="text" placeholder="Descriptif du questionnaire">
      </md-input-container>

      <div class="form-editor-questions">
        <div class="form-editor-question" ng-repeat="question in vm.form.questions" md-whiteframe="5">
          <div class="slide-animate" ng-include src="'/modules/questions/client/views/staff/templates/create-question.client.view.template.html'"></div>
        </div>
      </div>
    </div>

    <div class="form-editor-menu" flex="20">
      <md-list flex>
        <md-list-item ng-click="vm.add()">
          <md-icon class="material-icons">add</md-icon>
          <p>Ajouter</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <md-icon class="material-icons">chevron_left</md-icon>
          <p>Importer</p>
        </md-list-item>
        <md-list-item ng-click="vm.showReceiversDialog($event)">
          <md-icon class="material-icons">group_add</md-icon>
          <p>Destinataires</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <md-icon class="material-icons">save</md-icon>
          <p>Sauvegarder</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <md-icon class="material-icons">delete</md-icon>
          <p>Supprimer</p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
{{ vm.form | json }}
