<section>
  <md-toolbar class="md-table-toolbar" flex>
    <div class="sub-head-container" layout="row" layout-align="start center">
      <div class="md-toolbar-tools">
        <span>Liste des questionnaires</span>
        <span flex></span>
        <a data-ui-sref="staff.forms.create"><md-icon class="material-icons">add_box</md-icon></a>
      </div>
    </div>
  </md-toolbar>

  <div layout="row">
    <md-input-container flex>
      <input type="text" ng-model="searchTitle" placeholder="Recherche">
    </md-input-container>
  </div>

  <md-table-container>
    <table md-table>
      <thead md-head>
         <tr md-row>
           <th md-column>Titre du questionnaire</th>
           <th md-column>Créateur</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="form in vm.forms" ng-show="(form.title.indexOf(searchTitle) !== -1 || !searchTitle)">
          <td md-cell>{{ form.title }}</td>
          <td md-cell>{{ form.user.displayName }}</td>
          <td md-cell><a ui-sref="staff.forms.edit({formId: form._id})"><i class="material-icons">mode_edit</i></a></td>
          <td md-cell><a ng-click="vm.remove(form, $event)"><i class="material-icons">delete</i></a></td>
          <td md-cell><a ng-click="vm.remove(form, $event)"><i class="material-icons">send</i></a></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>


  <div class="alert alert-warning text-center" data-ng-if="forms.$resolved && !forms.length">
    No forms yet, why don't you <a data-ui-sref="staff.forms.create">create one</a>?
  </div>
</section>
