.content-editable {
	color: grey;
	min-width: 100px;
	display: inline-block;
	border-style: none none solid none;
	border-width: 2px;
	margin-right:2px;
	margin-left:2px;
	min-height: 20px;
	vertical-align: text-top;
}

.opened {
	display:inline-block;
}

.answer-subject-headline {
	height:50px;
	background-color: rgb(63,81,181);
	color: rgba(255,255,255,0.87);
	font-size:20px;
	letter-spacing: 0.005em;
	font-weight: 400;
	padding-left:16px;
}

.answer-subject-content {
	padding-left:16px;
	margin-top:10px;
	font-style:italic;
}

.answer-question-focus {
	font-weight: bold;
}

.answer-question-infos-block {
	margin-top:10px;
	margin-right:10px;
}

.answer-choice {
	margin-top:30px;
	margin-left:30px;
}